block var
	- var title = 'Результаты 2-го этапа секции «Брендинг»'
extends ../../layout/default.jade
block header
	include ../../partials/navbar.jade
mixin team(winner, team, score1, score2, score3, score4, score5, scores)
	if winner
		tr
			td.results__winner
			td.results__team= team
			td= score1
			td= score2
			td= score3
			td= score4
			td= score5
			td.results__total= scores
	else
		tr.results__loser
			td
			td.results__team.results__team--loser= team
			td= score1
			td= score2
			td= score3
			td= score4
			td= score5
			td= scores
block content
	section.case
		.container
			.row
				h1.case__heading.results__title Результаты 2-го этапа секции «Брендинг»
				.results__change-stage
					a.results__change-stage-link(href='/results/branding.html') Результаты 1-го этапа
					a.results__change-stage-link(href='/results/branding-final.html') Результаты финала
			table.results
				thead
					tr
						td.results__winner.results__winner--none
						td.results__team--header.results__header Команда
						td Креативность
						td Исполнение
						td Презентация
						td Соответствие<br>ЦА
						td Глубина<br>анализа
						td.results__total.results__header Общая<br>оценка
				tbody
					+team(true, '1. Битый пиксель', '3', '2,67', '2,67', '2,33', '2,33', '13')
					+team(true, '2. ТрИугольник', '2,33', '2,33', '2,67', '2,67', '2', '12')
					+team(true, '3. Изюм', '2,33', '2,67', '2,33', '2', '2,33', '11,66')
					+team(true, '4. D-Geeks', '2,33', '2,67', '2,67', '2', '1,33', '11')
					+team(true, '5. WE', '2,67', '2,67', '2,33', '2', '1,33', '11')
					+team(true, '6. North designer', '2,33', '2,33', '2,33', '2', '1,67', '10,66')
					
					+team(false, '7. 404', '1,67', '2,67', '2,33', '1,67', '2', '10,34')
					+team(false, '8. Spensers Family', '1,67', '2,67', '2,67', '2', '1,33', '10,34')
					+team(false, '9. upGREATeam', '1,67', '2', '2', '2', '1,67', '9,34')
					+team(false, '10. 4 Look', '1,67', '1,33', '2', '2', '2,33', '9,33')
					
					+team(false, '11. Чтонетакто', '2', '2', '2,33', '2', '1', '9,33')
					+team(false, '12. Гиперкуб', '2,33', '1,67', '2', '1,67', '1,33', '9')
					+team(false, '13. Жена Дали', '2,33', '2', '2,33', '1,67', '0,67', '9')
					+team(false, '14. SVARPL', '2,33', '2', '2', '1', '1,67', '9')
					+team(false, '15. KMRZ.Branding&Design', '2', '2', '2', '1,67', '1,33', '9')
					
					+team(false, '16. Трамвай', '2', '2', '1,67', '1,67', '0,67', '8,01')
					//- +team(false, '17. Карпе Дием', '1,67', '1,67', '2', '1,33', '1', '7,67')
					+team(false, '17. Melston', '2', '1,67', '2', '1,33', '0,67', '7,67')
					+team(false, '18. PushkinSquare', '1,67', '2', '1,67', '1', '1', '7,34')
					+team(false, '19. Exactly!', '1,67', '1', '1,67', '1,33', '0,67', '6,34')
					
					+team(false, '20. FOR', '1,33', '1,67', '1,33', '1', '0,33', '5,66')
					+team(false, '21. Тюлень', '1', '0,67', '1', '0,67', '0,33', '3,67')
